<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- SEO -->
    <meta name="description" content="<%= description %>" />
    <meta
      name="keywords"
      content="Vite, Vue, Vue Router, Pinia, TypeScript, Vitest, Playwright, Bootstrap"
    />
    <meta name="author" content="NotACat1" />

    <!-- Open Graph (Facebook, LinkedIn) -->
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="/tableau.png" />
    <meta property="og:url" content="https://notacat1.github.io/Vite-React-Redux/" />
    <meta property="og:type" content="website" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:image" content="/tableau.png" />

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />

    <!-- Manifest -->
    <link rel="manifest" href="/manifest.json" />

    <title><%= title %></title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
